<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840194764705-r5l58bbt56vgoeigdrkpbo02eqet8aib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840194764705-r5l58bbt56vgoeigdrkpbo02eqet8aib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>840194764705-20fi0q2jn71peuft8omq2o1dg2s2k9p5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXSGkq7Ob6UWSqzVbL6n44z8sBGt4aVAs</string>
	<key>GCM_SENDER_ID</key>
	<string>840194764705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.growdev.firebase1</string>
	<key>PROJECT_ID</key>
	<string>aula-firebase-veste</string>
	<key>STORAGE_BUCKET</key>
	<string>aula-firebase-veste.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840194764705:ios:9b85529bee7b401259e5e0</string>
</dict>
</plist>